* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --input-border: 0.1px solid rgb(203, 197, 197);
  --hr-border-color: rgba(203, 197, 197, 0.22);

  --white: #fff;
  --deep-sky-blue: #007afe;
  --pale-sky: #6c747c;
  --ebony-clay: #1b2e3a;
  --white-lilac: #f7f8fc;
  --red: #ff0000;

  --button-gradient: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);

  --shadow: 0px 0px 15px #0004;
}

.app {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas:
    'logo header'
    'navigation main'
    'navigation footer';
}

@media (min-width: 875px) and (max-width: 1190px) {
  .app {
    grid-template-columns: 350px 1fr;
    grid-template-rows: 100px 70px 1fr 50px;
    grid-template-areas:
    'logo header'
    'navigation navigation'
    'main main'
    'footer footer';
  }
}

@media (max-width: 874px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 100px 70px 1fr 50px;
    grid-template-areas:
    'logo'
    'header'
    'navigation'
    'main'
    'footer';
  }
}